*{
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
}
body
{
	margin:0;
	padding:0;		
}
section
{
	width:100%;
	min-height: 450px;
}
.wave
{
	position: relative;
	background: linear-gradient(180deg, hsla(280,84%,41%,1)0%, hsla(218,97%,56%,1)100%);
}
.wave:before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 450px;
	background: url(width.png);
	background-size: cover;
	background-repeat: no-repeat;

}
.main
{
	width: 552px;
	position:fixed;
	height:500px;
	background-color: F3F5F9;
	margin-left: 430px; 
	bottom: 20; 
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.main .presub
{
	width:550px;
	height:400px;
	background-color: white;
	bottom: 15;
	position:absolute;

}
.main .presub .sub
{
	display: inline-block; 
	margin-left: 30px;
	padding: 5px;
}
img
{
	width:35px;
	border-radius: 50%; 
	vertical-align: middle;

}
span{
	text-align: center;
	padding-left: 20px;
	color:black;
	font-size: 17px;
}
